<h1>Course Table Component</h1>

<input [(ngModel)]="newCourseTitle"/>
<button (click)="createCourse(newCourseTitle)">
  Create New Course
</button>

<ul class="list-group">
  <li *ngFor="let course of courses"
  class="list-group-item">
    <button (click)="deleteCourse(course)">
      Delete
    </button>


    <a href="/table/courses/{{course._id}}/modules">
      {{course.title}}
    </a>
    <a class="float-right"
       href="/courses/{{course._id}}/quizzes">
      Quizzes
    </a>

  </li>
</ul>

<h1>{{newCourseTitle}}</h1>
