<!--<h4>{{question.title}}</h4>-->
<h5>{{question.question}}</h5>

<span [ngClass]="{
  'bg-success':grading&& question.correct==='true',
  'bg-danger':grading&& question.correct==='false' && answer==='true'}">
  <label>
    <input type="radio"
           value="true"
           [(ngModel)]="answer"
           name="{{question._id}}"/>
    TRUE
    <fa-icon [icon]="faCheck" [hidden]="!grading || question.correct === 'false'"></fa-icon>
    <fa-icon [icon]="faTimes" [hidden]="!grading || question.correct === 'true' || answer === 'false'"></fa-icon>
  </label>
</span>

<br/>
<span [ngClass]="{
  'bg-success':grading&& question.correct==='false',
  'bg-danger':grading&& question.correct==='true'}">
<label>
  <input type="radio"
         value="false"
         [(ngModel)]="answer"
         name="{{question._id}}"/>
  FALSE
    <fa-icon [icon]="faCheck" [hidden]="!grading || question.correct === 'true'"></fa-icon>
    <fa-icon [icon]="faTimes" [hidden]="!grading || question.correct === 'false' || answer === 'true'"></fa-icon>
</label>
</span>

<br/>
Your answer: {{answer}}
<br/>
Correct answer: {{question.correct}}
<br/>

<button class="btn-success"
  (click) = "grade()">
  Grade
</button>
